@tailwind base;
@tailwind components;
@tailwind utilities;

 /* Define a root variable for primary color */
:root {
    --text-color: #ffff;
    --first-background : #0000
    --secondbackground : #312E2E;
    --Heading-color : #C3AC5B
  }
  .Heading {
    color: var(--Heading-color);
  }
  .accommodation {
    background-color: var(--secondbackground);
  }
  .btn-primary {
    background-color: var(--Heading-color);
    font-weight: bold;
  }
  .Acc {
    background-color: #000000;
  }
  .schedule-container {
    background-color: #28282B
    ;
  }
  .name{
    color: var(--Heading-color);    
  }
  .Footer {
    background-color: var(--Heading-color);
    color: var(--text-color);
    width: full;
  }
  .inspiration-btn{
    margin-left: 45rem;
  }
  .video-responsive {
    margin-top: 6rem;
    position: relative;
    padding-top: 26.25%; /* 16:9 aspect ratio */
    height: 15rem;
    overflow: hidden;
    max-width: 100%;
    background: black; /* Ensures no white space around the video */
  }
  
  .video-responsive iframe {
    position: absolute;
    top: 0;
    left: 25rem;
    width: 50rem;
    height: 30rem;
    border: 0;
  }

  @media screen and ( max-width : 640px) {  
    .video-responsive {
      margin-top: 3rem;
      position: relative;
      padding-top: 26.25%; /* 16:9 aspect ratio */
      height: 15rem;
      overflow: hidden;
      max-width: 100%;
      background: black; /* Ensures no white space around the video */
    }
    
    .video-responsive iframe {
      position: absolute;
      top: 0;
      left: 1rem;
      width: 25rem;
      height: 20rem;
      border: 0;
    }
  .btn-acc {
      margin-left: 6rem ;
      margin-top: 1rem;
      margin-bottom: 1rem;
  }
  .btn-accom {
    margin-left: 4rem ;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.alt-para {
  margin-left:3rem ;
}
.inspiration-btn{
  margin-right: 50rem !important;
}
.sched-btn {
  margin-left: 4rem;
  margin-top: 2rem;
} 
.text-2nd{
 margin-top: 2rem;
}
.text-3rd {
  
}
  }
