@tailwind base;
@tailwind components;
@tailwind utilities;

 /* Define a root variable for primary color */
:root {
    --text-color: #ffff;
    --first-background : #0000
    --secondbackground : #312E2E;
    --Heading-color : #C3AC5B
  }
  .Heading {
    color: var(--Heading-color);
  }
  .accommodation {
    background-color: var(--secondbackground);
  }
  .btn-primary {
    background-color: var(--Heading-color);
    font-weight: bold;
  }
  .Acc {
    background-color: #000000;
  }
  .schedule-container {
    background-color: #535555;
  }
  .name{
    color: var(--Heading-color);    
  }
  .Footer {
    background-color: var(--Heading-color);
    width: full;
  }
